@import "../abstract/variable.css";

/*
 * 定位相关
 */
@define-mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@define-mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@define-mixin center {
  @mixin vertical-center;
  @mixin horizontal-center;

  transform: translate(-50%, -50%);
}

/* 视觉上垂直居中：偏上 */
@define-mixin visual-vertical-center {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

/* 水平居中，视觉上垂直居中 */
@define-mixin visual-center {
  @mixin visual-vertical-center;
  @mixin horizontal-center;

  transform: translate(-50%, -50%);
}

/*
 * 卡片
 */

/* 基本卡片 */
@define-mixin card {
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-primary);
}

/* 卡片：上浮跳动 */
@define-mixin card-jump {
  @mixin card;

  transition: transform 0.5s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-hover);
  }
}

/* 卡片：小幅跳动 */
@define-mixin card-small-jump {
  @mixin card-jump;

  &:hover {
    transform: translateY(-5px);
  }
}

/* 卡片：中幅跳动 */
@define-mixin card-medium-jump {
  @mixin card-jump;
}

/* 卡片：大幅跳动 */
@define-mixin card-large-jump {
  @mixin card-jump;

  &:hover {
    transform: translateY(-15px);
  }
}

/*
 * 常用复杂布局
 */
