<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <title>管理后台 - 奇舞学院</title>
<link href="/static/css/global.css" rel="stylesheet"></head>

<body>
  <div id="fake-body">
    <mount-vessel></mount-vessel>
  </div>
<script type="text/javascript" src="/static/js/runtime-bd13a5b00780214d.js"></script><script type="text/javascript" src="/static/js/common-b3a4bd05e68347db.js"></script><script type="text/javascript" src="/static/js/global-3910f78b66583e26.js"></script><script type="text/javascript" src="/static/js/admin-3f9f8c982d0472f5.js"></script></body>

</html>