<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>奇舞学院登录页</title>
<link href="/static/css/global.css" rel="stylesheet"><link href="/static/css/index_login.css" rel="stylesheet"></head>

<body>
  {% include './inc/page-header/main.html' %}

  <h1>奇舞学院登录页</h1>
  <a href="/">返回首页》》》》</a>
  <mount-vessel id="fake-body">

  </mount-vessel>
<script type="text/javascript" src="/static/js/runtime-bd13a5b00780214d.js"></script><script type="text/javascript" src="/static/js/common-b3a4bd05e68347db.js"></script><script type="text/javascript" src="/static/js/global-3910f78b66583e26.js"></script><script type="text/javascript" src="/static/js/index_login-118ec405a2de46d6.js"></script></body>

</html>