<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>奇舞123首页</title>
<link href="/static/css/global.css" rel="stylesheet"></head>
<body>
   {% include './inc/page-header/main.html' %}
  <h1>奇舞学院首页</h1>
  <a href="/login">去登录》》》》</a>
<script type="text/javascript" src="/static/js/runtime-bd13a5b00780214d.js"></script><script type="text/javascript" src="/static/js/common-b3a4bd05e68347db.js"></script><script type="text/javascript" src="/static/js/global-3910f78b66583e26.js"></script><script type="text/javascript" src="/static/js/index-876663f4f4bb770a.js"></script></body>
</html>