@import '../../css/abstract/mixin.css';

.Login {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  border: 1px solid red;
  position: relative;
  &-content {
    @mixin visual-center;

    color: green;
  }
}